<title>Recon</title>

<meta charset="utf-8">

<meta name="keywords" content="Utility App" />
<meta name="description" content="Recon MI data with source" />
<meta name="creator" content="J.M.A. van Schalkwyk" />
<meta name="services" content="Freelance UX and Web Design" />
<meta name="brand" content="Nimble Design" />
<meta name="website" content="www.nimbledesign.co.za" />

<!-- Link Style Sheets -->
 <link rel="stylesheet" href="css/style.css">
 <!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<!--
<link rel="stylesheet" href="responsive.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
-->
<!-- link script files -->
