<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>login</title>
  </head>
  <body>
    {{> header}}

    <form Action="/users/login" method="post">
      <h2>Login:</h2>
      <p>Please provide your user information</p>
      <p id="prompt"> </p>
      <p>
          User Id:
          <input type="text" name="logindata">
      </p>
      <p>
          Password:
          <input type="password" name="logindata">
      </p>
      <!--
      <input type="submit" value="Submit" onclick="toggleLogin">
      -->
      <input type="submit" value="Submit">
    </form>

    {{> footer}}
  </body>
</html>
