/*
        *************************************************************
        * Product: PolOwn                                           *
        * Description: JavaScript for frontend functionality        * 
        * Created by: Johannes van Schalkwyk                        *
        * License: All rights reserved                              *
        * Location: c:\Node\PolOwn\frontend\css\style.css           *
        *************************************************************
*/

#modal_wrapper.overlay:before {
            content: " ";
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 2;
            top: 0;
            left: 0;
            background: #000000;
            background: rgba(0,0,0,0.7);
        }

        #modal_window {
            display: none;
            z-index: 3;
            position: fixed;
            left: 50%;
            top: 50%;
            width: 560px;
            overflow: auto;
            padding: 5px 10px;
            background: #FFFFFF;
            border: 3px solid #999999;
            border-radius: 10px;
            box-shadow: 0 0 5px rgba(0,0,0,0.5);
        }

        #modal_wrapper.overlay #modal_window {
            display: block;
        }

        #inputC {
            float: right;
        }
        
        body
        {
            font-family: Arial;
            font-size: 10pt;
        }
        table
        {
            border: 1px solid #cccccc;
        }
        table th
        {
            background-color: #F7F7F7;
            color: #333;
            font-weight: bold;
        }
        table th, table td
        {
            padding: 5px;
            border-color: #cccccc;
        }

        /* formatting for the 2nd overlay's functionality */

        #linklist {
            width: 345px;
            border: 1px solid black;
            border-collapse: collapse;
            margin-left: 0px;
        }
        #linkhead { 
            width: 345px;
            align: center;
            display: block;
        }
        #linkbody {
            height: 150px;
            width: 345px;
            align: center;
            overflow: scroll;
            display: block;
        }
        #linkhead th {
            width: 335px;
            text-align: center;
            background-color: #AAFF99;
        }
        #linkbody td {
            width: 100px;
            border-bottom: 1px solid black;
            text-align: center;
        }
        div#overlay {
        	display: none;
        	z-index: 4;
        	background: #000000;
        	position: fixed;
        	width: 100%;
        	height: 100%;
        	top: 0px;
        	left: 0px;
        	text-align: center;
        }
        div#specialBox {
        	display: none;
        	position: relative;
        	z-index: 5;
        	margin: 150px auto 0px auto;
            padding: 15px;
        	width: 345px; 
        	height: 320px;
        	background: #A0A099;
        	color: #000000;
        }
        div#wrapper {
        	position:absolute;
        	top: 0px;
        	left: 0px;
        	padding-left:24px;
        }
        .hide_company, .hide_agent, .hide_adviser {
            display:none;
        }