/*
        *************************************************************
        * Product: Recon                                            *
        * Description: CSS Styling for UI                           *
        * Created by: Johannes van Schalkwyk                        *
        * License: All rights reserved                              *
        * Location: c:\Node\Recon\public\css\style.css              *
        *************************************************************
*/
/* --------------------------------------------------------- */
/* Basic Setup */
/* --------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    /*font-family: 'Lato', 'Arial', sans-serif;*/
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    /* overflow-x: hidden; */
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* --------------------------------------------------------- */
/* Reusable Components */
/* --------------------------------------------------------- */


/* ------ Headings ------ */


.page-title {
  font-size: 180%;
  text-align: center;
}

/* --------------------------------------------------------- */
/* Header */
/* --------------------------------------------------------- */

.app-title {
  float: left;
  font-size: 150%;
}

/* Main Navigation */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 5px;
}

.main-nav li {
    display: inline-block;
    margin-left: 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 2px 0;
    color: #cf6317;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-botton 0.2s;
    transition: border-botton 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #cf6317;
}



#modal_wrapper.overlay:before {
            content: " ";
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 2;
            top: 0;
            left: 0;
            background: #000000;
            background: rgba(0,0,0,0.7);
        }

        #modal_window {
            display: none;
            z-index: 3;
            position: fixed;
            left: 50%;
            top: 50%;
            width: 560px;
            overflow: auto;
            padding: 5px 10px;
            background: #FFFFFF;
            border: 3px solid #999999;
            border-radius: 10px;
            box-shadow: 0 0 5px rgba(0,0,0,0.5);
        }

        #modal_wrapper.overlay #modal_window {
            display: block;
        }

        #inputC {
            float: right;
        }

      /* body
        {
            font-family: Arial;
            font-size: 10pt;
        }
      */
        table
        {
            border: 1px solid #cccccc;
        }
        table th
        {
            background-color: #F7F7F7;
            color: #333;
            font-weight: bold;
        }
        table th, table td
        {
            padding: 5px;
            border-color: #cccccc;
        }

        /* formatting for the 2nd overlay's functionality */

        #linklist {
            width: 345px;
            border: 1px solid black;
            border-collapse: collapse;
            margin-left: 0px;
        }
        #linkhead {
            width: 345px;
            align: center;
            display: block;
        }
        #linkbody {
            height: 150px;
            width: 345px;
            align: center;
            overflow: scroll;
            display: block;
        }
        #linkhead th {
            width: 335px;
            text-align: center;
            background-color: #AAFF99;
        }
        #linkbody td {
            width: 100px;
            border-bottom: 1px solid black;
            text-align: center;
        }
        div#overlay {
        	display: none;
        	z-index: 4;
        	background: #000000;
        	position: fixed;
        	width: 100%;
        	height: 100%;
        	top: 0px;
        	left: 0px;
        	text-align: center;
        }
        div#specialBox {
        	display: none;
        	position: relative;
        	z-index: 5;
        	margin: 150px auto 0px auto;
            padding: 15px;
        	width: 345px;
        	height: 320px;
        	background: #A0A099;
        	color: #000000;
        }
        div#wrapper {
        	position:absolute;
        	top: 0px;
        	left: 0px;
        	padding-left:24px;
        }
        .hide_company, .hide_agent, .hide_adviser {
            display:none;
        }
