<!-- Login display -->
<div id="login">
  <form Action="/users/login" method="post">
    <h2>Login:</h2>
    <p>Please provide your user information</p>
    <p id="prompt"> </p>
    <p>
        User Id:
        <input type="text" name="logindata">
    </p>
    <p>
        Password:
        <input type="password" name="logindata">
    </p>
    <!--
    <input type="submit" value="Submit" onclick="toggleLogin">
    -->
    <input type="button" value="Submit">
  </form>
</div>
